.c-form {
  position: relative;
  &__header {
    padding-top: 5%;
    margin-bottom: 3%;
    display: flex;
    justify-content: center;
    &-nav {
      height: 64px;
      width: 800px;
      display: grid;
      grid-auto-flow: column;
      background-color: #272727;
      border-radius: 8px;
      border: 1px;
      .active {
        color: red;
        border-bottom: 2px solid red;
      }
      &__item {
        align-self: center;
        justify-self: center;
        cursor: pointer;
        display: flex;
        align-items: center;
        height: 100%;
      }
    }
  }
  &__bg {
    position: absolute;
    top: -20px;
    left: 0;
    z-index: -2;
    @media screen and (max-width: 1000px) {
      display: none;
    }
  }
  &__container {
    padding-top: 5%;
    .active {
      display: block;
    }
    &-info {
      display: none;
      &__item {
        display: grid;
        grid-template-columns: 2fr 3fr;
        padding-top: 10px;
        &-text {
          display: flex;
          align-items: center;
          font-size: 14px;
        }
        &-input {
          input,
          textarea {
            width: 100%;
            font-size: 14px;
          }
          textarea {
            height: 100%;
            border: 1px solid #c2c2c2;
            background-color: #fbfdff !important;
          }
          &__radio {
            display: grid;
            grid-template-columns: 0.5fr 0.5fr 2fr;
            gap: 10px;

            input {
              width: auto;
            }
            label {
              font-size: 12px;
              display: flex;
              justify-content: center;
              align-items: center;
              color: #000000;
            }
          }
        }
        .last {
          font-size: 10px;
        }
        @media screen and (max-width: 768px) {
          grid-template-columns: 1fr;
          grid-template-rows: 1fr;
          &-input__radio {
            grid-template-columns: 1fr 1fr;
            .last {
              font-size: 12px;
              grid-row-start: 2;
              grid-row-end: 2;
              grid-column-start: 1;
              grid-column-end: 3;
            }
          }
        }
      }
    }
    &-knowledge {
      display: none;
      &__title {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 30px;
        font-weight: 300;
        @media screen and (max-width: 1000px) {
          font-size: 27px;
        }
      }
      &__form {
        &-first {
          display: grid;
          grid-template-columns: repeat(2, 1fr);
          grid-template-rows: repeat(2, 1fr);
          &__item-text {
            grid-column-start: 1;
            grid-column-end: 3;
            align-self: flex-end;
          }
          &__item-input {
            grid-row-start: 2;
            textarea {
              width: 98%;
              height: 100px;
            }
          }
          @media screen and (max-width: 1000px) {
            grid-template-columns: 1fr;
            grid-template-rows: repeat(3, 1fr);
            &__item-text {
              grid-column-start: unset;
              grid-column-end: unset;
              align-self: flex-end;
            }
            &__item-input {
              grid-row-start: unset;
              textarea {
                width: 100%;
                height: 90px;
              }
            }
          }
        }
        &-second {
          display: flex;
          flex-direction: column;
          padding-top: 20px;
          gap: 20px;
          &__item {
            display: flex;
            &-text {
              width: 40%;
            }
            &-input {
              width: 60%;
              textarea {
                width: 100%;
                height: 80px;
              }
            }
          }
          @media screen and (max-width: 1000px) {
            flex-direction: column;
            &__item {
              flex-direction: column;
              &-text {
                width: 100%;
              }
              &-input {
                width: 100%;
                textarea {
                  width: 100%;
                  height: 80px;
                }
              }
            }
          }
        }
      }
    }
    &-conclusion {
      display: none;
      gap: 40px;
      &__title {
        display: flex;
        justify-content: center;
        &-text {
          width: 85%;
          .big {
            font-size: 20px;
            font-weight: 400;
            line-height: 27px;
          }
          .small {
            font-size: 14px;
            font-weight: 400;
            line-height: 19px;
          }
        }
      }
      &__carefull {
        display: flex;
        justify-content: center;
        padding-top: 20px;
        &-container {
          background-color: #fff7f2;
          border-radius: 4px;
          border: 1px solid #fae5d8;
          width: 650px;
          padding: 1% 2% 1% 2%;
        }
        &-title {
          color: #000000;
          font-size: 22px;
          font-weight: 400;
          line-height: 30px;
          text-align: left;
        }
        &-list {
          color: #000000;
          font-size: 14px;
          font-weight: 400;
          line-height: 19px;
          text-align: left;
          letter-spacing: 0em;
          ul {
            padding: 0;
          }
          li:not(.li-unformat, .li-unformat-pb) {
            margin-left: 20px;
          }
        }
      }
    }
    &-logic {
      display: none;
      &__title {
        display: flex;
        flex-direction: column;
        justify-content: center;
        &-first {
          display: flex;
          justify-content: center;
          align-items: center;
          font-size: 30px;
          font-weight: 300;
        }
        &-text {
          display: flex;
          justify-content: center;
          font-size: 14px;
          font-weight: 400;
          line-height: 19px;
          letter-spacing: 0em;
          text-align: left;
          padding-top: 2%;
          span {
            width: 85%;
          }
        }
        @media screen and (max-width: 1000px) {
          &-first {
            font-size: 21px;
          }
        }
      }
      &__sudoku {
        position: relative;
        height: 500px;
        &-bg {
          display: flex;
          justify-content: center;
          align-items: center;
          img {
            position: absolute;
            bottom: 0;
          }
          &__table {
            position: absolute;
            bottom: 0;
            top: 30.8%;
            td {
              width: 35px;
              height: 35px;
            }
          }
        }
      }
    }
  }
}
#sudokuTable {
  background-color: white;

  .sudoku-active {
    background-color: #dff1f4;
  }
  .top-border {
    border-top: 2px solid black !important;
  }
  .bottom-border {
    border-bottom: 2px solid black !important;
  }
  .left-border {
    border-left: 2px solid black !important;
  }
  .right-border {
    border-right: 2px solid black !important;
  }
  td {
    border: 1px solid;
    width: 35px;
    height: 35px;
    text-align: center;
    border-color: #c2c2c2;
    input {
      width: 35px;
      height: 35px;
      border: none;
      font-size: 20px;
    }
  }
}
