.c-questionary {
  background-color: #b5d8ff0d;
  margin-top: 5%;
  padding-top: 5%;
  padding-bottom: 5%;
  &__container {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    &-text {
      width: 100%;
      font-size: 30px;
      font-weight: 300;
      line-height: 41px;
      letter-spacing: 0em;
      text-align: center;
      display: flex;
      justify-content: center;
      align-items: center;
      span {
        width: 80%;
      }
      @media screen and (max-width: 1000px) {
        span {
          font-size: 22px;
        }
      }
    }
    &-form {
      display: flex;
      flex-direction: column;
      gap: 10px;
      &__item {
        display: flex;
        justify-content: space-between;
        flex-wrap: nowrap;
        &-text {
          font-size: 14px;
          max-width: 440px;
        }
        &-area {
          textarea {
            border: 1px solid #111b2633;
            border-radius: 10px;
            width: 750px;
            min-height: 90px;
            max-height: 300px;
          }
        }
        @media screen and (max-width: 1200px) {
          flex-direction: column;
          textarea {
            width: 100%;
          }
          &-text {
            width: 100%;
          }
        }
      }
    }
    @media screen and (max-width: 1000px) {
      &-text {
        font-size: 25px;
        line-height: 36px;
        span {
          width: 100%;
        }
      }
    }
  }
}
